<!DOCTYPE html>

{% extends 'spectralImages/base.html' %}
{% block content %}
{% for image in spectralImages %}
<article class="media content-section">
    <div class="media-body">
        <!-- <div class="article-metadata">
            <small class="text-muted">{{ image.date_added | date:'F d, Y'}}</small>
        </div> -->
        <a class="article-title" href="{% url 'select_item_view' image %}"><h2>IMAGE</h2> <p>{{ image.path }}</p></a>
        <p class="article-content">{{ maskedTitle }}</p>
        {% for maskImage in maskedImages %}
        {% if image.title in maskImage.title %}        
                <p><a class="article-title" href="{% url 'select_masked_item_view' maskImage %}">{{ maskImage.path }}</a></p>
            {% endif %}
        {% endfor %}
    </div>
</article>
{% endfor %}
{% endblock %}

{% block sideBarContent %}
<!--<h3>Preview Image Layers</h3>-->
{% load static %}
<div class="slideshow-container">
 
    {% for layerDataUrl in layerDataUrls %}
    <div class="mySlides">
        <img class="col-md-12" src="{{ layerDataUrl }}">
    </div>
        <!-- <img class="col-md-12" src="{{ layerDataUrl }}" alt="Preview Image" /> -->
    {% endfor %}

    {% if layerDataUrls %}
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
    
    </div>
    
    <ul class="list-group">
        <li class="list-group-item list-group-item-light"><h5>Image cube data sahpe</h5> {{ cube.shape }} </li>
        <li class="list-group-item list-group-item-light"><h5>Wavelength Data</h5> {{ wavelengths }} </li>
        <li class="list-group-item list-group-item-light"><h5>Preview data</h5> {{ preview_image.shape }} </li>
        <li class="list-group-item list-group-item-light"><h5>Metadata</h5>  {{ metadata }} </li>
    </ul>
    {% else %}
   <h1>Load Image From SideMenu</h1>
{% endif %}



</div>
{% endblock sideBarContent %}


   
