<!DOCTYPE html>

{% extends 'spectralImages/base.html' %}
{% block content %}
{% for image in spectralImages %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ image.date_added | date:'F d, Y'}}</small>
            </div>
            <h5><a class="article-title" href="#">{{ image.title }}</a></h5>
            <p class="article-content">{{ image.path }}</p>
        </div>
    </article>
    {% endfor %}
{% endblock %}